# Install all of our production dependencies only.
# use line -- python3 -m pip install -r requirements.txt

# Setup
pip==23.1.2
setuptools~=68.2.0

numpy==1.23.5
pandas==2.0.2
joblib==1.2.0
Flask~=2.3.3

gcsfs==2023.3.0
scikit-learn==1.2.2
pyarrow==9.0.0

# Plotting
matplotlib==3.7.1


# Kubeflow SDK
kfp[all]==1.8.19
google-cloud-aiplatform==1.26.0
google-cloud-storage==2.9.0
google-cloud-build==3.16.0

protobuf==3.19.6

pyarrow==9.0.0
fsspec==2023.3.0
google==3.0.0

urllib3==1.26.15

scipy~=1.10.1
functions_framework==3.4.0
